
body { font-family: 'Lucida Grande', Arial, sans-serif; }

h1, h2, h3 {
  font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif; font-weight:200; font-stretch:normal;   
}
h1 {
  font-size: 2em;
  text-shadow: 0 2px 2px rgba(0,0,0,0.25);
}

blockquote {
    margin: 1em 0px;
    border-left: 1em #DDD solid;
    font-style: italic; 
    padding-left: 1em;
}

.bigfont {
  font-size: 2em;
}
.regularfont {
  font-size: .7em;
}
.btw {
  font-size: .65em;
  color: #444;
}

.deleted {
  text-decoration: line-through;
}
.emph {
  color: #004080;
}

.modal{
  background-color: rgba(0,0,0,.8);
  position: absolute;
  top:40%;
  bottom:40%;
  height:20%;
  left: 1em;
  right: 1em;
  border-radius: 1em;
  text-align: center;
  color: #FFF;
  padding: 0;
}
.modal pre .remark-code {
  font-size: 1.7em;
}
.bottom {
  position: absolute;
  bottom: 3em;
  left: 2em;
  right: 2em;
}
  
.bottom-remark {
  font-size: 0.5em;
  color: gray;
  position: absolute;
  bottom: 1em;
  right: 0;
  left: 1em;
}

.todo {
  background-color: #DDFF77;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  padding: 0.5em;
  display: block;
}

.todo:before {
  content: "TO DO:";
  display: block;
  font-family: fantasy;
}

.badge {
  padding: 0.5em;
  border-radius: 0.25em;
  box-shadow: 0 2px 4px rgba(0,0,0,.75);
}
.badge-1{
  background-color: #ffcc66;
}
.badge-2{
  background-color: #00ff80;
}

.slide-badge {
  position: absolute;
  right: 20px;
  top: 20px;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
}
.slide-emph-max {
  color: white;
  background-color: black;
}
.slide-emph-mid {
  background-color: #00ffff;
}
.slide-emph-mid h1 {
  text-align: center;
  margin-top: 30%;
  font-size: 4em;
}

.column {
  width: 45%;
  border: 1px solid white;
}
.column-right {
  float: right;
}
.column-left {
  float: left;
}
.column-clear {
  clear: both;
}
/* Remark style overrides. */
.remark-code, .remark-inline-code { 
  font-family: Menlo, Monaco, "Source code Pro", Courier, monospace;
}

.remark-inline-code {
  background-color: #EEE;
}


/* Code samples */
.hljs-keyword {
  color: blue;
}

.hljs-title {
  color: #804000;
}
/* /Code samples */

.speech {
  background-color: white;
  border-radius: 1em 1em 1em 0.2em;
  padding: 0.5em;
  border: 1px black solid;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  font-family: 'Architects Daughter';
}

