
body { font-family: 'Lucida Grande', Arial, sans-serif; }

h1, h2, h3 {
  font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif; font-weight:200; font-stretch:normal;   
}
h1 {
  font-size: 2em;
  text-shadow: 0 2px 2px rgba(0,0,0,0.25);
}

.remark-code, .remark-inline-code { font-family: Menlo, Monaco, "Source code Pro", Courier, monospace; }

blockquote {
    margin: 1em 0px;
    border-left: 1em #DDD solid;
    font-style: italic; 
    padding-left: 1em;
}

.bigfont {
  font-size: 2em;
}
.regularfont {
  font-size: .7em;
}
.btw {
  font-size: .65em;
  color: #444;
}

.deleted {
  text-decoration: line-through;
}
.emph {
  color: #004080;
}

.bottom {
  position: absolute;
  bottom: 3em;
  left: 2em;
  right: 2em;
}
  
.bottom-remark {
  font-size: 0.5em;
  color: gray;
  position: absolute;
  bottom: 1em;
  right: 0;
  left: 0;
}

.todo {
  background-color: #DDFF77;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  padding: 0.5em;
  display: block;
}

.todo:before {
  content: "TO DO:";
  display: block;
  font-family: fantasy;
}

.badge {
  padding: 0.5em;
  border-radius: 0.25em;
  box-shadow: 0 2px 4px rgba(0,0,0,.75);
}
.badge-1{
  background-color: #ffcc66;
}
.badge-2{
  background-color: #00ff80;
}

.slide-badge {
  position: absolute;
  right: 20px;
  top: 20px;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
}
.slide-emph-max {
  color: white;
  background-color: black;
}
.slide-emph-mid {
  background-color: #00ffff;
}
.slide-emph-mid h1 {
  text-align: center;
  margin-top: 30%;
  font-size: 4em;
}

/* Code samples */
.hljs-keyword {
  color: blue;
}

.hljs-title {
  color: #804000;
}
/* /Code samples */

.speech {
  background-color: white;
  border-radius: 1em 1em 1em 0.2em;
  padding: 0.5em;
  border: 1px black solid;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  font-family: 'Architects Daughter';
}

/* from http://nicolasgallagher.com/pure-css-speech-bubbles/demo/ */
.example-obtuse {
  position:relative;
  padding:15px 30px;
  margin:0;
  color:#000;
  background:#f3961c; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
  background:-moz-linear-gradient(#f9d835, #f3961c);
  background:-o-linear-gradient(#f9d835, #f3961c);
  background:linear-gradient(#f9d835, #f3961c);
  /* Using longhand to avoid inconsistencies between Safari 4 and Chrome 4 */
  -webkit-border-top-left-radius:25px 50px;
  -webkit-border-top-right-radius:25px 50px;
  -webkit-border-bottom-right-radius:25px 50px;
  -webkit-border-bottom-left-radius:25px 50px;
  -moz-border-radius:25px / 50px;
  border-radius:25px / 50px;
}

/* display of quote author (alternatively use a class on the element following the blockquote) */
.example-obtuse + p {margin:10px 150px 2em 0; text-align:right; font-style:italic;}

/* creates the larger triangle */
.example-obtuse:before {
  content:"";
  position:absolute;
  bottom:-30px;
  right:80px;
  border-width:0 0 30px 50px;
  border-style:solid;
  border-color:transparent #f3961c;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* creates the smaller triangle */
.example-obtuse:after {
  content:"";
  position:absolute;
  bottom:-30px;
  right:110px;
  border-width:0 0 30px 20px;
  border-style:solid;
  border-color:transparent #fff;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}


